.Rproj.user
.Rhistory
.RData
.Ruserdata
test_format/*
ACP_Report/*
!ACP_Report/ACP_report.qmd
!ACP_Report/ACP_report_html.qmd
!ACP_Report/ACP_report_html.html
!ACP_Report/ACP_report.tex
!ACP_Report/ACP_report.pdf
!ACP_Report/bibliography.bib
!ACP_Report/_extensions
YKD_Report/*
!YKD_Report/YKD_report.qmd
!YKD_Report/YKD_report.R
!YKD_Report/bibliography.bib
!YKD_Report/_appendices.qmd
!YKD_Report/appendices.qmd.jinja
!YKD_Report/make_appendices.R
!YKD_Report/_extensions

