.Rproj.user
.Rhistory
.RData
.Ruserdata
ACP_Report/*
!ACP_Report/ACP_report.qmd
!ACP_Report/ACP_report_html.qmd
!ACP_Report/ACP_report_html.html
!ACP_Report/ACP_report.tex
!ACP_Report/ACP_report.pdf
!ACP_Report/bibliography.bib
!ACP_Report/_extensions
YKD_Report/*
!YKD_Report/YKD_report.qmd
!YKD_Report/YKD_report.R
!YKD_Report/bibliography.bib
!YKD_Report/appendices.qmd
!YKD_Report/appendices_tmp.qmd

